Makefile.in
aclocal.m4

build/ar-lib
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/libtool.m4
build/ltmain.sh
build/lt~obsolete.m4
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/missing

autom4te.cache/
config.h.in
config.h.in~
configure
.libs/
Makefile
config.h
config.log
config.status
libspooky.la
libtool

src/.deps/
src/.dirstamp
src/.libs/
src/spooky.lo
src/spooky.o

stamp-h1

contrib/rpm.spec
!contrib/rpm.spec.in

spooky-*.tar.gz

pkg/spooky.pc
!pkg/spooky.pc.in
